{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Mise à jour du produit : ' ~ produit.proNom }}
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Mise à jour du produit</h1>

    <div class="container" style="display: flex; justify-content: center;">
        {{ form_start(form) }}
        {{ form_row(form.pro_nom, {'label': false}) }}
        {{ form_row(form.pro_description, {'label': false}) }}
        {{ form_row(form.pro_stock, {'label': false}) }}
        {{ form_row(form.prix_achat, {'label': false}) }}
        {{ form_row(form.prix_vente, {'label': false}) }}
        {{ form_row(form.image, {'label': false}) }}
        {#        {{ form_row(form.slug, {'label': false}) }}#}
        {{ form_row(form.is_active, {'label': 'Disponible ?'}) }}
        {{ form_row(form.categorie, {'label': false}) }}
        {{ form_row(form.fournisseur, {'label': false}) }}

    <div style="display: flex; justify-content: center">
    <button class="button" type="submit" style="width: 10rem">Mettre a jour</button>
    </div>

        {{ form_end(form) }}
    </div>
    <div style="display: flex; justify-content: center">
        <button class="button" style="width: 10rem"> <a style="color: white" href="{{ path('crud_readPro', {'id':produit
            .id})}}">Retour</a></button>
    </div>


{% endblock %}