<header class="header">
    <a href="#" class=""></a>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x'  id="close-icon"></i>
    </label>
    <a href="{{ path('catalogue') }}" class="gucci-title"><h2 style="text-transform: uppercase;"> LaSappe </h2></a>

    <nav class="navbar-css">
            <a href="{{ path('all_categories') }}" style="">Catégories</a>
            <a href="{{ path('all_produits') }}" style="">Produits</a>
            <a href="#" style="">Contact</a>
            {% if app.user %}
                <a href="{{ path('profil') }}"><i class='bx bx-user bx-sm' style=""></i></a>
                <a href="{{ path('cart_index') }}"><i class='bx bx-cart bx-sm' style=""></i></a>
                <a href="{{ path('app_logout') }}"><i class='bx bxs-log-out bx-flashing' ></i></a>
            {% else %}
                <a href="{{ path('app_login') }}"><i class='bx bx-log-in bx-tada' ></i></a>
            {% endif %}
    </nav>
</header>

