{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Mise à jour de la catégorie: ' ~ categorie.catNom }}
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Mise à jour de la catégorie</h1>

    <div class="container" style="display: flex; justify-content: center;">
        {{ form_start(form) }}
        {{ form_row(form.cat_nom, {'label': false}) }}
        {{ form_row(form.cat_description, {'label': false}) }}
        {{ form_row(form.cat_image, {'label': false}) }}
        {{ form_row(form.parent, {'label': false}) }}
        {{ form_row(form._token) }}
        <div style="display: flex; justify-content: center;">
            <button class="button" style="width: 10rem" type="submit">Mettre à jour</button>
        </div>
            {{ form_end(form) }}
    </div>
    <div style="display: flex; justify-content: center">
        <button class="button" style="width: 10rem"> <a style="color: white" href="{{ path('crud_read', {'id':categorie.id})}}">Retour</a></button>
    </div>


{% endblock %}